<!--
  ~ Copyright (c) 2021 Crunchbase - All Rights Reserved.
  ~ Unauthorized copying of this file, via any medium is strictly prohibited.
  ~ This file is proprietary and confidential.
  ~ Last modified by robert2, 3/25/21, 3:50 PM
  -->

<configuration scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
